<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default2}">
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="contentsTitle">
</th:block>

<th:block layout:fragment="customContents">
	<div class="row justify-content-center">
				<div class="card pb-0 mb-0" style="width:1000px">
	<div class="row">
		<div class="col-md-3"> 
			<div class="card">
				<div class="card-header text-center bg-primary">
				   <h6 class="mb-0 mt-2 text-white">랭킹 카테고리</h6>
				 </div>
					<div class="card-body m-0 p-0">
						<div class="table-responsive">
							<table class="table table-centered table-hover mb-0 text-center">
								<thead>
									<tr>
										<td scope="row" colspan="3"><a th:href="@{/commRanking}">전체 카테고리</a></td>
									</tr>
									<tr>
										<th>순위</th>
										<th>커뮤니티 이름</th>
										<th>맴버수</th>
									</tr>
								</thead>
								<tbody>
									
									<tr  th:if="${not #lists.isEmpty(categoryList)}" th:each="cl,clIndex : ${categoryList}" style="transform: rotate(0);">
									<th scope="row"><a th:href="@{/commRanking(categoryCode=${cl.categoryCode},categoryName=${cl.categoryName})}" class="stretched-link" th:text="${clIndex.index}+1"></a></th>
									<td th:text="${cl.categoryName}"></td>
									<td th:text="${cl.totalMemberCnt}"></td>
									</tr>
								</tbody>
							</table>	
						</div>
					</div>
			</div>
			</div>
		<div class="col-md-5">	
			<div class="card" th:if="${#strings.isEmpty(categoryCode)}">	
				<div class="card-header text-center bg-primary">
				 	<h6 class="mb-0 mt-2 text-white"> 전체 커뮤니티 랭킹</h6>
				 </div>		
					<div class="card-body m-0">
						<div class="table-responsive">
							<table class="table table-centered table-hover mb-0">
								<thead>
									<tr>
										<th>순위</th>
										<th>커뮤니티 이름	</th>
										<th colspan="2">맴버수</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(communityList)}" th:each="l,index : ${communityList}" style="transform: rotate(0);">
										<th scope="row"><a th:href="@{/commPage(commCode=${l.commCode})}" class="stretched-link" th:text="${index.index}+1"></a></th>
										<td th:text="${l.commName}"></td>
										<td th:text="${l.memberCnt}"></td>
										<td class="text-right"><button type="button" class="btn btn-primary btn-sm" style="z-index: 2; position: relative;">가입</button></td>
									</tr>
								</tbody>
							</table>
							
						</div>
					</div>
			</div>
			<div class="card" th:if="${not #strings.isEmpty(categoryCode)}">	
				<div class="card-header text-center bg-primary">
				 	<h6 class="mb-0 mt-2 text-white" th:text="${categoryName}"></h6>
				 </div>		
					<div class="card-body m-0">
						<div class="table-responsive">
							<table class="table table-centered table-hover mb-0">
								<thead>
									<tr>
										<th>순위</th>
										<th>커뮤니티 이름</th>
										<th>맴버수</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(communityList)}" th:each="l,index : ${communityList}" style="transform: rotate(0);">
										<th scope="row"><a th:href="@{/commPage(commCode=${l.commCode})}" class="stretched-link" th:text="${index.index}+1"></a></th>
										<td th:text="${l.commName}"></td>
										<td th:text="${l.memberCnt}"></td>
										<td class="text-right"><a th:href="@{/addCommMemberReg(memberId=${session.SID},commCode=${l.commCode})}" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="z-index: 2; position: relative;">가입</a></td>
									</tr>
								</tbody>
							</table>
							
						</div>
					</div>
			</div>
			
			</div>
		
		<div class="col-md-4">
			<div class="card" th:if="${not #maps.isEmpty(randomCategoryMap)}" th:each="m : ${randomCategoryMap}">
				<div class="card-header text-center bg-primary">
				 	<h6 class="mb-0 mt-2 text-white" th:text="${m.key}"></h6>
				 </div>	
					<div class="card-body m-0 p-0">
						<div class="table-responsive">
							<table class="table table-centered table-hover mb-0">
								<thead>
									<tr>
										<th>순위</th>
										<th>커뮤니티 이름</th>
										<th colspan="2">맴버수</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(m.value)}" th:each="ml,mlIndex : ${m.value}" style="transform: rotate(0);">
										<th scope="row"><a th:href="@{/commPage(commCode=${ml.commCode})}" class="stretched-link" th:text="${mlIndex.index}+1"></a></th>
										<td><div class="p-0 d-inline-block text-truncate" style="max-width: 90px;"><p class="pt-2 m-0" th:text="${ml.commName}"></p></div></td>
										<td th:text="${ml.memberCnt}"> </td>
										<td class="text-right"><a th:href="@{/addCommMemberReg(memberId=${session.SID},commCode=${ml.commCode})}" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="z-index: 2; position: relative;">가입</a></td>
									</tr>
								</tbody>
							</table>						
						</div>
					</div>
			</div>
		</div>
		</div>
	</div>
	</div>
</th:block>

<th:block layout:fragment="customBodyScript">
	<!-- PRISM -->
	<script th:src="@{/js/prism/prism.js}"></script>
	<!-- custom -->
	<script th:src="@{/js/custom.js}"></script>
</th:block>
</html>