<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<!-- 댓글 등록 시작 -->
	<div id="commentInsert" th:fragment="fragment-commentInsert">
		<div class="card p-3 mb-2"
			th:if="${not #lists.isEmpty(recordBoardCommentList)}"
			th:each="c : ${recordBoardCommentList}">
			<div class="d-flex flex-row">
				<div class="d-flex flex-column ms-2">
					<h3 class="mb-1 text-primary"
						th:text="'등록자 아이디 : ' + ${c.memberId}">\</h3>
					<p class="comment-text" th:text="'내용: ' + ${c.content}">댓글
						내용</p>
				</div>
				<div class="col-10 text-right">
					<a th:unless="${session.SID != c.memberId}" th:value = ${c.commentNum} class="commentDelete" style="cursor:pointer;"><i
						class="fa fa-trash-o"></i></a>
				</div> 
			</div>
			<div class="d-flex justify-content-between">
				<div class="d-flex flex-row gap-3 align-items-center"></div>
				<div class="d-flex flex-row">
					<span class="text-muted fw-normal fs-10"
						th:text="'작성 시간:'+${c.regDate}"></span>
				</div>
			</div>
		</div>
	</div>
	<!-- 댓글 등록 종료 -->

<th:block layout:fragment="customBodyScript">
	<script>
	$('.commentDelete').click(function(e){
		
		var commentNum = $(e.target).parent().attr('value');
		var recordBoardCode = $('#recordBoardCode').attr('value')
		
		 $.ajax({
				url: '/recordBoard/commentRemove'
				,type: 'POST'
				,data: {"commentNum" : commentNum
						,"recordBoardCode" : recordBoardCode} 
				,dataType: 'text'
				,success: function(data){
					console.log(data);
					$('#commentInsert').replaceWith(data);
				}
			});   
		
		
	});
	</script>
</th:block>
</html>